*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 25px 0;
}

header .navegador {
    width: 95%;
    margin: auto;
    font-size: 15px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

header .navegador__buscador a{
    padding: 10px;
    text-decoration: none;
    /*FALTA EL TIPO DE LETRA*/
}

header .navegador__buscador a span{
    color: #FFADA8;
}

header .navegador__logotipo{
    color: #0D369E;
    text-decoration: none;
    font-size: 25px;
    /*FALTA MODIFICAR EL ICON  Y EL TIPO DE LETRA*/
}

header .navegador__buscador input{
    padding: 15px;
    border: 1.5px solid #EEEEEE;
    /*FALTA EL BORDER-RADIUS*/
}

.imagen{
    width: 100%;
    height: auto;
}

.imagen__imagen{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
/*
.imagen__contenido{
    position: relative;
    top: -160px;
    left: 400px;
}

.imagen__contenido ul li{
    display: inline-block;
}

.imagen__contenido ul li a{
    text-decoration: none;
}
*/





/* */
body.dark {
    background-color: var(--dark);
}

body.dark p{ 
    color: #fff;
}

body.dark .direccion i{ 
    color: #fff;
}

body.dark .links li .con{
    color: var(--secundary-color)
}

body.dark input{
    background-color: #060E1F;
}

body.dark textarea{
    background-color: #060E1F;
}

body.dark h6{ 
    color: #fff;
}

body.dark h3{ 
    color: #fff;
}

body.dark .text-subscribe h4{
    color: #fff;
}

body.dark .text-subscribe p{
    color: #fff;
}

body.dark .container-subscribe{
    background: #161C2D;
}

/* */





.direccion{
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 4rem 0;
    padding: 2rem;
}

.navegador__buscador i{
    padding: 0px 10px;
}

.direccion__contenido{
    margin: 50px;
    flex-basis: 400px; 
    list-style: none;
}

.direccion__contenido h3{
    font-size: 30px;
    margin: 10px 0;
}

.direccion__contenido i{
    padding: 5px 10px;
}

.li{
    padding: 10px 20px;
}

h6{
    font-size: 22px;
    padding: 10px;
}

li p{
    padding-left: 60px;
}

.direccion__mapa{
    border: 5px solid #fff;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);

}

.informacion{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.informacion__contenido{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.informacion__contenido-imagen img{
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
}

.informacion__contenido-datos{
    height: auto;
    padding: 20px;
    margin: 30px;
    border-radius: 5px solid #EEEEEE;
    font-size: 20px;
    flex-basis: 600px;
}

.informacion__titulo {
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}

.informacion__titulo span{
    color: #FF6E65;
}

.informacion__contenido-datos input{
    width: 100%;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background: #F9F9F9;
    border: none;
}

.informacion__contenido-datos textarea{
    width: 100%;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background: #F9F9F9;
    border: none;
    resize: none;
}

.informacion__contenido-datos button{
    width: 75x;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background: #FF6E65;
    color: #fff;
    border: none;
}

.unete{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 15px ;
    width: 950px;
    border: none;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}

.unete__texto1{
    font-size: 40px;
    padding: 10px;
}

.unete__texto2{
    font-size: 25px;
    color: #707083;
}

.unete__correo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}

.direccion i{
    color:#FF6E65
}

.unete__correo input{
    display: flex;
    width: 100%;
    padding: 20px 40px;
    border: none;
    border: 1px solid #707083;
}

.unete__correo button{
    padding: 18px 30px;
    font-size: 16px;
    background: darkblue;
    color: #fff;
    
}

footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    color: #fff;
    background: #060E1F;
    padding: 30px 60px;
}

footer div{
    display: inline-block;
    padding: 20px 40px;

}

footer a{
    display: block;
    text-decoration: none;
}

footer .about a{
    display: inline-block;
    color: #fff;
    font-size: 15px;
}

h5{
    color:#fff;
    font-size: 18px;
}

/*-----------------*/
:root{
    --principal-color: #0d369f;
    --secundary-color: #ff6e65;
    --white: #fff;
    --dark: #161C2D;
}

/**/
.navbar{
    /*  */width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    transition: all .4s ease-in-out;
}

body.dark .navbar{
    background-color: var(--dark);
}

.navbar.active{
    top: 0;
    position: fixed;
    z-index: 999;
    
  }

.logo{
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo h1{
    padding-top: 10px;
    color: #0d369f;
    cursor: pointer;
    transition: .4s;
    font-weight: 600;
    font-size: 1.4rem;
    transition: all .4s ease-in-out;
}

body.dark .logo h1{
    color: var(--white);
}

body.dark .logo h1:hover{
    color: var(--secundary-color);
}

.logo h1:hover{
    color: var(--secundary-color);
}

.links-navbar{
    padding-top: 10px;
    width: 700px;
    display: flex;   
    transition: all .4s ease-in-out;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: all .4s ease-in-out;
}

.links li a{
    color:  #2b3035;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .4s ease-in-out;
}

body.dark .links li a{
    color: var(--white);
}

body.dark .links-navbar a:hover{
    color: var(--secundary-color);
}

.links-navbar a:hover{
    color: var(--secundary-color);
}

.links li .con{
    color: var(--secundary-color)
}

.search{
    position: relative;
}

.search i{
    position: absolute;
    top: 12px;
    right: 19px;
    color: var(--principal-color);
    font-size: 13px;
    cursor: pointer;
    transition: .4s;
}

.search i:hover{
    color: var(--secundary-color);
}

.search input{
    padding:10px 0;
    padding-left: 12px;
    border-radius: 50px;
    border: 1px solid rgb(226, 224, 224);
    outline: var(--white);
}


.complements-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mode,.hamburguer{
    padding: 0 .5rem;
}

.mode i{
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--principal-color);
    cursor: pointer;
}

.hamburguer{
    display: none;
}

.hamburguer i{
    color: var(--white);
    background-color: var(--principal-color);
    padding: .5rem;
    border-radius: .2rem;
}

/**/

.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}


















/**/

.pre-footer{
    background-color: #060E1F;
    margin-top: 150px;
    width: 100%;
}

.subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-subscribe{
    margin-top: -6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: var(--white);
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    border-radius: 5px;
}

.container-subscribe .text-subscribe{
  width: 50%;
  padding-left: 1.5rem;
}

.container-subscribe .text-subscribe h4{
    font-size: 2.2rem;
    font-weight: 500;
}

.input{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.container-subscribe input{
    width: 60%;
    height: 50px;
    margin: 2rem 0 2rem 2rem;
    border-radius: 5px 0 0  5px;
    border: 1px solid #707070;
    padding-left: 1rem;
    outline: none;
}

.container-subscribe button{
    width: 30%;
    height: 50px;
    border: none;
    background-color: var(--principal-color);
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0 5px 5px 0;
}

.container-pre-footer{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--white);
    padding: 5rem 2rem;
}

.quick-links{
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.quick-links a{
    text-decoration: none;
    color: var(--white);
}

.quick-links,.help,.contact{
    width: 20%;
    font-size: 13px;
}

.quick-links h4,.help h4,.contact h4,.about h4{
    border-bottom: 1px solid #12192A;
    margin-bottom: 1rem;
    padding: 5px;
}

.quick-links i,.help i,.contact i,.about i{
    margin-right: 6px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid #12192A;
    width: 35%;
    font-size: 13px;
    padding-left: 10px;
}

.icons-about{
    padding: 1rem 0;
}

.icons-about i{
    background-color: #12192A;
    padding: 10px;
    border-radius: 50%;
}

.icons-about i:first-child{
    padding: 10px 12px;
}

.icons-about i:nth-child(2){
    padding: 10px 11px;
}

.help ul,.contact ul{
    list-style: none;
}

.footer{
    background-color: #040A17;
    text-align: center;
    line-height: 50px;
    color: #707070;
    height: 50px;
}










































@media screen and (max-width:930px) {
    .navbar{
        align-items: flex-start;
        position: relative;
    }

    .navcol{
        height: 300px;
    }

    .logo{
        margin-top: 10px;
    }

    .links-navbar{
        width: 120px;
        
    }
    
    .links{
        display: none; 
        height: 55%;
        position: absolute;
        flex-direction: column;
        top: 100px;
        left: 0; 
        right: 0; 
       
    }

    .active{
        display: flex;
    }

    .links li:first-child a{
        color: var(--principal-color);
    }

    .links a:hover{
        color: var(--principal-color);
    }

    .hamburguer{
        display: block;
    }
}






@media only screen and (max-width: 650px){
    *{
        width: 100%;
    }

    .pre-footer .container-subscribe{
        display: flex;
        flex-flow: row wrap;
    }

    .text-subscribe{
        flex-basis: 300px;
    }

    .input{
        flex-basis: 600px;
    }

    .pre-footer .container-pre-footer{
        display: flex;
        flex-flow: row wrap;
    }

    .container-pre-footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .container-pre-footer .quick-links,.help,.contact,.about{
        flex-basis: 300px;
    }
  
    .container-pre-footer .about .icons-about {
        display: flex;
    }

    .logo img{
        width: 50px;
    }
}
